*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: linear-gradient(to right, #5b86e5, #33afb8);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}

.form__input {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 80%;
  margin-bottom: 0.3rem;
  transition: all 0.7s;
  border: rgba(255, 255, 255, 0.75);
  background-size: 200% 100%;
  background-position: right;
}

.form__input:focus, .form__input:hover {
  width: 100%;
}

.submitButton {
  border-radius: 6px;
  border: 2px solid #58d68d;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  transition: all 0.4s ease;
  background: linear-gradient(to left, rgba(255,255,255,0) 50%, rgba(88, 214, 141,1) 50%);
  background-size: 200% 100%;
  background-position: right;
  color: white;
}

.submitButton:hover {
  background-position: left !important;
}

.submitButton:active {
  position: relative;
  top: 1px;
}

.tooltipclass {
  font-size: 15px;
  border: 2px solid cyan
}

.leaflet-tooltip-left.tooltipclass::before {
  border-left-color: cyan;
}

.leaflet-tooltip-right.tooltipclass::before {
  border-right-color: cyan;
}

.popUp {
  font-size: 30px;
}

header {
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.logo {
  order: 10;
  display: block;
  max-height: 60px;
  border-radius: 3px;
}

.slidertoggler {
  text-decoration: none;
  font-size: 9em;
  color: white;
  position: fixed;
  left: 20px;
  cursor: pointer;
  transition: 1s;
  opacity: 0.8;
}

.slidertoggler:hover {
  transition: 0.1s;
  font-size: 11em;
  opacity: 1;
}

.sidebar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -400px;
  z-index: 9999;
  width: 350px;
  padding: 1.5em;
  background: linear-gradient(to bottom, #5b86e5, #33afb8);
  transition: 0.5s;
  padding-left: 7px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#slider:checked+.slidercontainer .sidebar {
  right: 0px;
}

#slider:checked+.slidercontainer .toggle {
  right: 400px;
}

#slider {
  display: none;
}

p {
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebarSection {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#onRulerEnabled::selection {
  color: rgba(255, 255, 255, 0);
}
